{% extends "app/layout.html" %}


{% block content %}       
<h2>Reachable Methods in Range X to Y</h2>
<h4><small>Find programs for which a static analysis says that x to y methods are reachable.</small></h4>

<form action="/" method="post" class="form-inline">
    {% csrf_token %}
    <label style="padding-left: 5px; padding-right:5px;">Tool:</label>
    <select name="tool_id" class="form-control">
            {% for tool in tools %}
            <option value={{tool.tool_id}}>{{tool.name}}</option>
            {% endfor %}
    </select>
    <label style="padding-left: 15px; padding-right:5px;">X:</label>
    <input name="start" class="form-control" type="number" value="100" name="start">
    <label style="padding-left: 15px; padding-right:5px;">Y:</label>
    <input name="end" class="form-control" type="number" value="200" name="end">
    <input style="margin-left: 15px;" class="form-control btn-primary" type="submit" value="run">
</form>

<hr>

{% if results %}
<h4><small>Showing Top 10:</small></h4>
<table class="table">
    <thead>
        <tr>
            <th>Program Name</th>
            <th>Reachable Methods</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in results %}
        <tr>
            <td>{{obj.0}}</td>
            <td>{{obj.1}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
