<h2>Query 1</h2>
<form action="/" method="post">
    {% csrf_token %}
    <select name="analysis1">
        <option value=3>wiretap</option>
        <option value=2>petablox</option>
    </select><br><br>
    <input type="number" value="100" name="start"><br><br>
    <input type="number" value="200" name="end"><br><br>
    <input type="submit" value="run" ><br><br><br>
</form>

{% if results %}
<h3>Top 100:</h3>
<table style="font-size: 10;">
    <thead>
        <tr>
            <th>program name</th>
            <th>count</th> 
        </tr>
    </thead>
    <tbody>
    {% for obj in results %}
        <tr>
            <td>{{obj.0}}</td>
            <td>{{obj.1}}</td> 
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endif %}