{% extends "app/layout.html" %}


{% block content %}       
<h2>Reachable Methods in Range X to Y</h2>
<h4><small>Find programs for which a static analysis says that x to y methods are reachable.</small></h4>

<form id="theform" action="/" method="get" class="form-inline">
    <label style="padding-left: 5px; padding-right:5px;">Tool:</label>
    <select name="tool_id" class="form-control">
            {% for tool in tools %}
        <option value={{tool.tool_id}} {%if tool.tool_id == tool_id %} selected {% endif %} >{{tool.name}}</option>
            {% endfor %}
    </select>
    <label style="padding-left: 15px; padding-right:5px;">X:</label>
    <input id="start" name="start" class="form-control" type="number" value="{{start}}" name="start">
    <label style="padding-left: 15px; padding-right:5px;">Y:</label>
    <input id="end" name="end" class="form-control" type="number" value="{{end}}" name="end">
    <input id="slider" type="text" class="span2" value=""
           data-slider-min="0"
           data-slider-max="1000"
           data-slider-step="1"
           data-slider-value="[{{start}},{{end}}]"/>
    <input style="margin-left: 15px;" class="form-control btn-primary" type="submit" value="run">
    <script>
     slider = $("#slider").slider({ tooltip : "always" }).on("slide", function () {
         $("#start").val(slider.getValue()[0]);
         $("#end").val(slider.getValue()[1]);
     }).data('slider');
    </script>
</form>
<hr>

{% if results %}
<h4><small>Showing Top 10 of {{total}}:</small></h4>
<table class="table">
    <thead>
        <tr>
            <th>Project</th>
            <th>Main Class</th>
            <th>Reachable Methods</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in results %}
        <tr>
            <td ><a href="/project/{{obj.0}}"> {{obj.0}}</a></td>
            <td>{{obj.1}}</td>
            <td>{{obj.2}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
