{% extends "app/layout.html" %}


{% block content %}       
<h2>Find Unsound Analyses</h2>
<h4><small>Find programs for which one static analysis is sound but another static analysis is unsound.</small></h4>

<form action="/query3" method="get" class="form-inline">
    <label style="padding-left: 5px; padding-right:5px;">Tool 1:</label>
    <select name="tool_id1" class="form-control">
            {% for tool in tools %}
            <option value={{tool.tool_id}} {%if tool.tool_id == tool_id1 %} selected {% endif %} >{{tool.name}}</option>
            {% endfor %}
    </select>
    <label style="padding-left: 5px; padding-right:5px;">Tool 2:</label>
    <select name="tool_id2" class="form-control">
            {% for tool in tools %}
            <option value={{tool.tool_id}} {%if tool.tool_id == tool_id2 %} selected {% endif %} >{{tool.name}}</option>
            {% endfor %}
    </select>
    <input style="margin-left: 15px;" class="form-control btn-primary" type="submit" value="run">
</form>

<hr>

{% if results %}
<h4><small>Showing Top 10 of {{total}}:</small></h4>
<table class="table">
    <thead>
        <tr>
            <th>Project</th>
            <th>Main Class</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in results %}
        <tr>
            <td ><a href="/project/{{obj.0}}"> {{obj.0}}</a></td>
            <td>{{obj.1}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
